In [ ]:
print("hola")

hola

In [2]:
! pip install pandas

Collecting pandas
  Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/salome/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /workspaces/salome/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 55.7 MB/s  0:00:006m0:00:01
Downloading numpy-2.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 57.4 MB/s  0:00:006m0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.3.2 pandas-2.3.1 pytz-2025.2 tzdata-2025.2

In [5]:
#importo librerias 
import pandas as pd
import numpy as np

In [19]:
#leyendo los datos de la geih 
df_cgsse = pd.read_csv('https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2024/CGSSE.CSV', encoding='latin', sep= ';')

In [11]:
df_cgsse

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20240730,7,2024,7858603,1,1,1,10,NaN,2,...,2.0,NaN,4.0,1.0,NaN,NaN,NaN,2.0,1.0,1.0
1,20240730,7,2024,7858603,1,2,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
2,20240730,7,2024,7858603,1,3,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
3,20240730,7,2024,7858604,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
4,20240730,7,2024,7858604,1,2,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69689,20240730,7,2024,7889227,1,1,1,10,88.0,1,...,2.0,NaN,8.0,4.0,714.0,5.0,714.0,2.0,1.0,1.0
69690,20240730,7,2024,7889227,1,2,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
69691,20240730,7,2024,7889227,1,3,1,10,88.0,1,...,2.0,NaN,10.0,5.0,521.0,2.0,NaN,1.0,2.0,1.0
69692,20240730,7,2024,7889227,1,4,1,10,88.0,1,...,2.0,NaN,8.0,1.0,413.0,2.0,NaN,2.0,1.0,1.0
69693,20240730,7,2024,7889227,1,5,1,10,88.0,1,...,1.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_ocupados = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Ocupados.CSV', encoding='latin', sep= ';')

/tmp/ipykernel_17381/765634731.py:1: DtypeWarning: Columns (28,89,135,150,161) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ocupados = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Ocupados.CSV', encoding='latin', sep= ';')

In [20]:
df_desocupados = pd.read_csv('https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/GEIH2024/No%20ocupados.CSV', encoding='latin', sep= ';')

In [21]:
df_fuerza= pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Fuerza%20de%20trabajo.CSV', encoding='latin', sep= ';')

/tmp/ipykernel_17381/3249790740.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fuerza= pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2024/Fuerza%20de%20trabajo.CSV', encoding='latin', sep= ';')