In [7]:
#Importo las librerias necesarias
import pandas as pd
import numpy as np

In [ ]:
#Importo los datos 
df_emicron= pd.read_csv('https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/refs/heads/main/Datos/EMICRON/emicron_identificacion.csv', encoding='latin', sep= ',')

In [3]:
df_emicron

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,P3032_1,P3032_2,P3032_3,P3033,P3034,P3035,P3000,GRUPOS4,GRUPOS12,F_EXP
0,7627444,1,1,44,NaN,2,2,33,ENERO,2,NaN,NaN,NaN,2,240,2,2,2,3,60.050515
1,7627446,1,1,44,NaN,2,1,31,ENERO,2,NaN,NaN,NaN,2,166,2,2,1,1,86.341075
2,7627449,1,1,68,NaN,1,2,42,ENERO,2,NaN,NaN,NaN,2,60,2,2,3,5,139.884518
3,7627453,1,2,68,NaN,1,2,41,ENERO,2,NaN,NaN,NaN,2,60,2,2,4,7,168.635440
4,7627456,1,3,68,NaN,1,1,18,ENERO,2,NaN,NaN,NaN,2,9,2,2,4,6,64.659273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78496,8038070,1,3,13,NaN,1,1,24,DICIEMBRE,2,NaN,NaN,NaN,2,48,1,2,4,7,362.509123
78497,8038071,1,1,13,NaN,2,1,30,DICIEMBRE,2,NaN,NaN,NaN,2,48,2,2,1,1,158.805116
78498,8038073,1,1,13,NaN,2,1,66,DICIEMBRE,2,NaN,NaN,NaN,2,500,2,2,1,1,57.451130
78499,8038074,1,3,13,NaN,2,1,71,DICIEMBRE,2,NaN,NaN,NaN,2,500,2,2,1,1,93.355386
78500,8038075,1,1,13,NaN,2,1,64,DICIEMBRE,2,NaN,NaN,NaN,2,480,2,2,1,1,98.197081

In [4]:
#calculamos el total de micronegocios en colombia
TM = df_emicron["F_EXP"].sum()
print("Micronegocios en colombia:", int(TM))

Micronegocios en colombia: 5297251

In [5]:
#Primero tenemos que determinar si estan las variables que necesitamos 
df_emicron.columns

Index(['DIRECTORIO', 'SECUENCIA_P', 'SECUENCIA_ENCUESTA', 'COD_DEPTO', 'AREA',
       'CLASE_TE', 'P35', 'P241', 'MES_REF', 'P3031', 'P3032_1', 'P3032_2',
       'P3032_3', 'P3033', 'P3034', 'P3035', 'P3000', 'GRUPOS4', 'GRUPOS12',
       'F_EXP'],
      dtype='object')

In [6]:
Como podemos ver estan las variables P35, P241 y COD_DEPTO, que son las necesarias de manera tal que, P35 es sexo del propietario del micronegocio, P241 la edad y COD_DEPTO son los departamentos
#Ahora vamos a filtrar nuestros datos con los requisitos
micronegocioF = df_emicron[(df_emicron["COD_DEPTO"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P241"].between(18, 30))]


# Calcular micronegocios expandidos
totalquindiohombres_1830 = micronegocioF["F_EXP"].sum()

print(f"Micronegocios en Quindío con propietarios hombres de 18 a 30 años:", int(totalquindiohombres_1830))

SyntaxError: invalid syntax (3005424346.py, line 1)

In [ ]:

#Ya sabemos que tenemos las variables de interes pero tenemos que agregar la variable GRUPOS4 que nos permite saber de que sector es la microempresa
#GRUPO4=2 Industria manufacturera 

#Ahora agregamos esto a nuestro codigo pero cambiamos el P35 a 2 para referirnos a mujeres y el DPTO a 66 para referirnos a Risaralda 
micronegocio_manu_FR = df_emicron[(df_emicron["COD_DEPTO"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"].between(20, 30)) & 
                                  (df_emicron['GRUPOS4'] == 2)]


# Calcular micronegocios expandidos
total_microMFR = micronegocio_manu_FR["F_EXP"].sum()

print(f"Micronegocios de la industria manufacturera en Risaralda que son de mujeres entre los 20 y 30:", int(total_microMFR))

Micronegocios de la industria manufacturera en Risaralda que son de mujeres entre los 20 y 30: 471

In [ ]:

#Ahora repetiremos el proceso del punto anterior pero con las caracteristicas determinadas
#GRUPO4 = 3 para el comercio y usamos AREA para las ciudades de interes
#Primero con pereira
micronegocio_com_FP40 = df_emicron[(df_emicron["AREA"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & 
                                  (df_emicron['GRUPOS4'] == 3)]

total_microCOFP40 = micronegocio_com_FP40['F_EXP'].sum()

print(f'Los micronegocios de Pereira con las caracteristicas son:', int(total_microCOFP40))

#Ahora con Armenia
micronegocio_com_FA40 = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & 
                                  (df_emicron['GRUPOS4'] == 3)]

total_microCOFA40 = micronegocio_com_FA40['F_EXP'].sum()

print(f'Los micronegocios de Armenia con las caracteristicas son:', int(total_microCOFA40))

#Ahora con manizales 
micronegocio_com_FM40 = df_emicron[(df_emicron["AREA"] == 17) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & 
                                  (df_emicron['GRUPOS4'] == 3)]

total_microCOFM40 = micronegocio_com_FM40['F_EXP'].sum()

print(f'Los micronegocios de Manizales con las caracteristicas son:', int(total_microCOFM40))
print()
print(f'La ciudad capital del eje cafetero que tiene mas micronegocios en el comercio con dueñas mayores a 40 años es PEREIRA')

Los micronegocios de Pereira con las caracteristicas son: 3827
Los micronegocios de Armenia con las caracteristicas son: 2557
Los micronegocios de Manizales con las caracteristicas son: 2636

La ciudad capital del eje cafetero que tiene mas micronegocios en el comercio con dueñas mayores a 40 años es PEREIRA

In [ ]:
#Ahora vamos a usar una nueva variable la cual es P3035 que nos determina si tiene nombre comercial o no 
# 1 para si y 2 para no

micronegocioNN = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P3035"] == 2)]
total_microNN = micronegocioNN['F_EXP'].sum()

print(f'En la ciudad de Armenia hay un total de', int(total_microNN), f'micronegocios de propietarios hombres que no tiene nombre comercial')