In [1]:
#importo librerias 
import pandas as pd
import numpy as np

In [2]:
#leyendo los datos de la geih 
df_cgsse = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/cgsse.CSV', encoding='latin', sep= ';')

In [3]:
df_cgsse

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20250626,6,2025,8238974,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
1,20250626,6,2025,8238974,1,2,1,10,NaN,2,...,2.0,NaN,5.0,1.0,NaN,1.0,NaN,2.0,1.0,1.0
2,20250626,6,2025,8238975,1,1,1,10,NaN,2,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
3,20250626,6,2025,8238975,1,2,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,2.0,1.0,1.0
4,20250626,6,2025,8238975,1,3,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67851,20250626,6,2025,8283060,1,1,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
67852,20250626,6,2025,8283060,1,2,1,10,88.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
67853,20250626,6,2025,8283062,1,1,1,10,94.0,1,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
67854,20250626,6,2025,8283062,1,2,1,10,94.0,1,...,2.0,NaN,3.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
67855,20250626,6,2025,8283062,1,3,1,10,94.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0

1. Para el total nacional calcule :

In [4]:
# a. calculando la poblacion total de colombia 
PT=(df_cgsse['FEX_C18'].sum())
print(f'La Población total de colombia es: {int(PT)}')

La Población total de colombia es: 52045001

In [5]:
#leemos los datos de ocupados, desocupados y fuerza de trabajo

df_ocupados = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Ocupados.CSV', encoding='latin', sep= ';')

df_desocupados = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/No%20ocupados.CSV', encoding='latin', sep= ';')

df_fuerza= pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Fuerza%20de%20trabajo.CSV', encoding='latin', sep= ';')

/tmp/ipykernel_2052/1156854569.py:3: DtypeWarning: Columns (28,89,133,147,158) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ocupados = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Ocupados.CSV', encoding='latin', sep= ';')
/tmp/ipykernel_2052/1156854569.py:7: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fuerza= pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Fuerza%20de%20trabajo.CSV', encoding='latin', sep= ';')

In [6]:
# b. calulamos la poblacion en edad de trabajar, teniendo en cuenta que en colombia segun el dane las personas en edad de trabajar deben ser mayores de 12 años en el caso urbano 
PET=df_cgsse[df_cgsse['P6040']>=12]['FEX_C18'].sum()
print(f'la poblacion en edad de trabajar es: {int(PET)}')

la poblacion en edad de trabajar es: 43252607

In [7]:
#c. calculamos la poblacion que no esta en edad de trabajar 
PNET=df_cgsse[df_cgsse['P6040']<12]['FEX_C18'].sum()
print(f'la poblacion que no esta en edad de trabajar es: {int(PNET)}')

la poblacion que no esta en edad de trabajar es: 8792393

In [8]:
#d. calculamos la población económicamente activa, segun el dane tambien se llama fuerza laboral y son las personas en edad de trabajar, que trabajan o buscan empleo
PEA=(df_fuerza['FEX_C18'].sum())+ df_desocupados[df_desocupados['DSI']==1]["FEX_C18"].sum()
print(f'La Población economicamente activa es: {int(PEA)}')

La Población economicamente activa es: 42875309

In [9]:
#e. calculamos la población económicamente inactiva, 
PEI=PET-PEA
print(f'La población economicamente inactiva es: {int(PEI)}')

La población economicamente inactiva es: 377298

In [ ]:
#f. calculamos la tasa de ocupación, es la relacion porcentual entre la poblacion ocupada y el numero de personas que integran la poblacion en edad de trabajar
Total_Ocupados=int(df_ocupados['FEX_C18'].sum())
TO=Total_Ocupados/PET
print(f'la tasa de ocupacion es: {TO: .2%}')

la tasa de ocupacion es:  54.92%

In [15]:
#g. calculamos la tasa de desempleo, es la relacion porcentual entre el numero de personas que buscan empleo y el numero de personas que integran la fuerza laboral
Total_Descupados=int(df_desocupados['FEX_C18'].sum())
TD=Total_Descupados/PET
print(f'la tasa de desempleo es: {TD: .2%}')

la tasa de desempleo es:  39.07%

2. Calcule las tasas de desempleo para hombres y mujeres en todos los departamentos de colombia, cuales son los departamentos con mayores y menores tasas de desempleo ?

In [22]:
#haremos un merge para poder integrar la variable genero a ocuopados y desocupados
df_ocupados_genero=pd.merge(df_ocupados, df_cgsse[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'P3271']], on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how='left') 
df_desocupados_genero=pd.merge(df_desocupados, df_cgsse[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'P3271']], on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how='left') + df_desocupados[df_desocupados['DSI']==1]
df_fuerza_genero=pd.merge(df_fuerza, df_cgsse[['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'P3271']], on=['DIRECTORIO', 'SECUENCIA_P', 'ORDEN'], how='left')
#agrupamos el departamento y el genero